<!DOCTYPE html>
<html lang="en">

<head>
	<title>Todo Golang HTMX</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/index.css">
	<link rel="icon" href="/static/favicon.png">
	<script src="/static/js/app.js"></script>
</head>

<body>
	<div class="max-w-screen-md mx-auto mt-8">
		<div class="flex justify-between items-center">
			{{ template "TotalCount" dict "Count" .TotalCount }}
			{{ template "CompletedCount" dict "Count" .CompletedCount }}
		</div>
		<div>
			{{ template "Form" }}
		</div>
		<div class="space-y-2.5 mt-4" id="items">
			{{ range .Todos }}
			{{ template "Todo" }}
			{{ end }}
		</div>
	</div>
</body>

</html>
